<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BusinessModel.Properties.Settings.EduZoneDBConnectionString"
            connectionString="Data Source=(localdb)\EduZone;Initial Catalog=EduZoneDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>